.dNoYFG {
	display: flex;
	align-items: stretch;
	width: 100%;
	background-color: #6507d5 !important;
	min-height: 40px;
	/* border-bottom-width: 1px; */
	border-bottom-color: rgba(0, 0, 0, 0.12);
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: 14px;
	color: #ffffff !important;
	/* border-color: #000000; */
}

.css-y8ay40-MuiTableCell-root {
	padding: 0 !important;
}
.css-1ex1afd-MuiTableCell-root {
	padding: 5px 0 !important;
}
